body{
    margin:auto;
    padding: 0;
    background-image: url("img.jpg");
    max-width: 100%;
    height: auto;
}
#nav-bar{
    background-color: #00ffff;
    color:red;
}
#header{
    font-size:40px;
}
#role{
    font-size:26px
}
#name{  
    text-align:center;
    font-size:30px;
    color:blue;
    padding:0%;
}
.card{
    margin-top: 20vh;
    width: 100%;
}
#quote-body{
    text-align: center;
}
@media only screen and (max-width: 600px) {
    #header {
      text-align: center;
    }
    .labell{
        display:none;
    }
   
  }
  @media only screen and (max-width: 800px) {
    #search{
        width:25%;
        text-align: right;
    }
    #search_author{
        width:50%;
        text-align: right;
    }
    .sea{
        width:20%;
        text-align: right;
    }
    .form-group{
        text-align: right;
    }
  }